/* region common */
:root{
    --zoom-primary: #000000;
    --zoom-secondary: #222222;
    --zoom-user-mic-container: #566674;
    --zoom-square-small: #4a4a4a;
    --zoom-button-important: #387b15;
    --zoom-color-text-finish-call: #b42525;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--zoom-primary);
}
/* end region common */
/* region utilies */
/* end region utilies */
/*  region header */
.sidebar-zoom{
    bottom: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: var(--zoom-secondary);
    display: flex;
    justify-content: space-between;
}
/* end region header */
/* region main */
.container{
    top: 10%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    background-color: #b42525;
    flex-wrap: wrap;
    align-content: center;
    
}
.square{
    width: calc((1800px/14)*2);
    height: 100px;
}

/* end region main */
/* region footer */
/* end region footer */
