/* region common */
:root{
    --zoom-primary: #000000;
    --zoom-secondary: #222222;
    --zoom-user-mic-container: #566674;
    --zoom-square-small: #4a4a4a;
    --zoom-button-important: #387b15;
    --zoom-color-text-finish-call: #b42525;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--zoom-primary);
    color: white;
}
span{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
}

/* end region common */

/* region utilies */
.d-flex{
    display: flex;
}
.width-50 > img{
    width: 50px;
}
.padding-container{
    padding: 15px 0 15px 50px;
}
/* end region utilies */
/*  region header */
.sidebar-zoom{
    vertical-align: middle;
    bottom: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: var(--zoom-secondary);
    display: flex;
    justify-content: space-between;
}
.widget-span{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.span{
    height: 40px;
}
.widget-span > img{
    width: 30px;
    display: block;
    margin: auto;
    flex-grow: 1;
}
.menu-tendina{
    margin: 40px 30px 0 0px;
}
.menu-tendina > img{
    width: 15px;
}
.color-important > img{
    fill: var(--zoom-button-important);
    fill-opacity: 1;
}
.right-header{
    color: var(--zoom-color-text-finish-call);
    background-color: var(--zoom-square-small);
    vertical-align:middle ;
    padding: 30px 40px;
}

/* end region header */
/* region main */
#site-main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.container{
    top: 10%;
    max-width: 1800px;
    margin: calc(1020px/10) auto;
    display: flex;
    background-color: #b42525;
    flex-wrap: wrap;
    align-content: center;
    
}
.square{
    width: calc((1800px/14)*2);
    height: 100px;
}
.badges{
    position: absolute;
    display: flex;
    gap: 0.5rem;
    right: 0;
    top:0;

}
.icon{
    background-color: var(--zoom-square-small);
    width: 20px;
    height: 20px;
}

/* end region main */
/* region footer */
/* end region footer */
