/* region common */
:root{
    --zoom-primary: #000000;
    --zoom-secondary: #222222;
    --zoom-user-mic-container: #566674;
    --zoom-square-small: #4a4a4a;
    --zoom-button-important: #387b15;
    --zoom-color-text-finish-call: #b42525;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--zoom-primary);
    color: white;
    overflow: hidden;
}
span{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

/* end region common */

/* region utilies */
.d-flex{
    display: flex;
    align-items: center;
}
.width-50 > img{
    padding-bottom: 5px;
}
.padding-container{
    padding-left: 20px;
}
/* end region utilies */

/*  region header */
#site-header{
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: end;
    background-color: #000000;
}
.btn{
    font-size: 15px;
}
.btn {
    margin: 15px 5px;
    border: none;
    background-color: var(--zoom-square-small);  
    border-radius: 7px;
    padding: 5px 5px;
}
.btn > span{
    line-height: 20px;
    font-size: 15px;
    vertical-align: middle;
    color: white;
}
.btn > img{
    width: 15px;
    vertical-align: middle;

}
/* end region header */

/* region main */
#site-main{
    width: 100vw;
    height: calc(100vh - 130px);
    overflow-y: scroll;
}
.container{
    top: 10%;
    max-width: 1800px;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}
.square{
    display: block;
    width: calc((1730px/14)*2);
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.user{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--zoom-user-mic-container);
    padding: 3px 7px;
}
.user > span{
    font-size: 14px;
    line-height: 20px;
}
.user > img{
    width:20px
}


/* end region main */

/* region footer */
#site-footer{
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: var(--zoom-secondary);
    display: flex;
    justify-content: space-between;
    height: 80px
}
.left-footer{
    flex-grow: 1;
}
.widget-span{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.widget-span >.span{
    line-height: 20px;
}
.widget-span > i{
    font-size: 25px;
    line-height: 40px;
}
.menu-tendina > i{
    margin-right: 20px;
}

.center-footer{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-grow: 3;
}
.oversize > i{
    font-size: 30px;
    color: var(--zoom-button-important);
}
.right-footer{
    text-align: end;
    height: 100%;
    flex-grow: 1;
}
.end-meeting{
    padding: 0 1rem;
    display: inline-block;
    height: 100%;
    color: var(--zoom-color-text-finish-call);
    background-color: var(--zoom-square-small);
    font-size: 18px;
    line-height: 80px;
}
/* end region footer */
